.footer ul a {
    text-decoration: none;
    margin-left: 2rem;
    color: white;
}

.footer {
    margin: 0;
    padding: 30px;
    background-color: rgb(10, 46, 10);
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
}

.footer ul a:hover {
    font-weight: bold;
}