nav {
    margin: 0;
    padding: 30px;
    background-color: rgb(10, 46, 10);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
}

nav ul li:first-child {
    margin-right: auto;

}

nav ul a {
    text-decoration: none;
    margin-left: 2rem;
    color: white;
}

nav ul a:hover {
    font-weight: bold;
}

nav ul button {
    background: none;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1.25em;
}

nav ul button:hover {
    font-weight: bold;
}

.heading {
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-size: 3em;
}